@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #757f9a;
  background: -webkit-linear-gradient(to right, #d7dde8, #757f9a);
  background: linear-gradient(to right, #d7dde8, #757f9a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: white;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: #ebe69f;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  list-style-type: none;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hide;
  justify-content: center;
  padding: 0;
}

/* width */
.fav-meals::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.fav-meals::-webkit-scrollbar-track {
  background: #ebe69f;
}

/* Handle */
.fav-meals::-webkit-scrollbar-thumb {
  background: #f0edc3;
  border-radius: 10px;
}

/* Handle on hover */
.fav-meals::-webkit-scrollbar-thumb:hover {
  background: #f0edc3;
}

.fav-meals li {
  display: inline-block;
  margin: 5px;
}

.fav-meals li img {
  display: block;
  border: solid #ffffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 75px;
  width: 75px;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1.5rem;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  background-color: #fff;
  position: absolute;
  top: 1rem;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0px;
}

.meal-body .fav-btn {
  border: none;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
  font-size: 1.2rem;
}

.meal-body .fav-btn.active {
  color: #f1e978;
}
